 <!-- Inicio Seccion agregar-->

            <div class="flex-row justify-between align-center" style="margin-top:30px; margin-bottom:30px">
                        
                <h2>Sección de Gaseosas &nbsp <i class="fa fa-users" aria-hidden="true"></i></h2>

                <div class="flex-column justify-center align-center ml-30">
                  
                    <div class="button-add-client flex-column justify-center align-center" data-toggle="modal" data-target="#modal-agregar">
                      
                      <i class="fa fa-user-plus fa-2x" aria-hidden="true" style="color: white"></i>

                    </div>
                    
                    <h4 class="centrado" style="margin-top: 5px;">Añadir Gaseosa</h4>

                </div>

            </div>

            <!-- Fin Seccion agregar-->

    
           <div class="row">
  
              <div class="col-md-4 grid-margin">
              
                <div class="card">
                  <div class="card-body">   

                      <!-- Inicio Contenedor Cliente-->

                      <div class="flex-row justify-center">
                         <div class="flex-column align-center justify-center">

                                <div class="flex-column justify-center" >
                            
                                    <div class="card--foto"></div>
                                    <h4 class="card-title" style="text-align: center; margin-top: 10px;">Producto 1</h4>

                                </div>

                                <div class="flex-column">
                                  
                                      <div class="flex-row card--fecha">
                                        <i class="fa fa-id-badge"></i>
                                        <small class=" ml-1 mb-0">Descripción </small>
                                      </div>

                                      <div class="flex-row card--fecha">
                                        <i class="fa fa-id-badge"></i>
                                        <small class=" ml-1 mb-0">Precio</small>
                                      </div>

                                      <div class="flex-row card--fecha">
                                        <i class="fa fa-id-badge"></i>
                                        <small class=" ml-1 mb-0">Cantidades Vendidades </small>
                                      </div>

                                      <div class="flex-row card--fecha">
                                        <i class="fa fa-id-badge"></i>
                                        <small class=" ml-1 mb-0">Cantidades Disponibles</small>
                                      </div>
		
                                 </div>                      
                          </div>
              </div>

              <!--  Fin Inicio Contenedor Cliente-->

                <div class="flex-row justify-around" style="margin-top: 20px;">
                       
                       <a href="#" class="btn btn-success btn-sm" id="botonEditar">Editar &nbsp  <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>

                       <a href="#" class="btn btn-danger btn-sm">Eliminar &nbsp <i class="fa fa-trash" aria-hidden="true"></i></a>

                </div>






                 
                    
                  </div>


				

                  <!-- Fin card-body-->
                </div>



                <!-- Fin card--->
              </div>   
                <!-- Fin div ciclo v-for-->

                
          </div>

          <!-- Fin row-->
         
          

