

          <!-- Inicio Seccion agregar-->

            <div class="flex-row justify-between align-center" style="margin-top:30px; margin-bottom:30px">
                        
                <h2>Sección de Granos &nbsp <i class="fa fa-pagelines" aria-hidden="true"></i></h2>

                <div class="flex-column justify-center align-center ml-30">
                  
                    <div class="button-add-client flex-column justify-center align-center" data-toggle="modal" data-target="#modal-agregar">
                      
                      <i class="fa fa-pagelines fa-2x" aria-hidden="true" style="color: white"></i>

                    </div>
                    
                    <h4 class="centrado" style="margin-top: 5px;">Añadir Grano</h4>

                </div>

            </div>

            <!-- Fin Seccion agregar-->

    
           <div class="row">
  
             <div class="alert alert-warning" role="alert">
                Granos
                &nbsp <i class="fa fa-pagelines" aria-hidden="true"></i>
                
              </div>

             <table class="table table-striped table-hover">

                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidades Vendidas</th>
                    <th scope="col">Cantidades Disponibles</th>
                    <th scope="col"><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-left: 25px;"></i></th>
                    <th scope="col"><i class="fa fa-trash-o" aria-hidden="true" style="margin-left: 30px;"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-success">
                    <th scope="row">1</th>
                    <td>Grano 1</td>
                    <td>Descripción Grano 1</td>
                    <td>$9000</td>
                    <td><span class="badge badge-info">27</span></td>
                    <td><span class="badge badge-success">100</span></td>
                    <td><a href="#" class="btn btn-primary btn-sm">Editar</a></td>
                    <td><a href="#" class="btn btn-danger btn-sm">Eliminar</a></td>
                  </tr>

                   <tr>
                    <th scope="row">2</th>
                    <td>Grano 2</td>
                    <td>Descripción Grano 2</td>
                    <td>$9000</td>
                    <td><span class="badge badge-info">34</span></td>
                    <td><span class="badge badge-success">120</span></td>
                    <td><a href="#" class="btn btn-primary btn-sm">Editar</a></td>
                    <td><a href="#" class="btn btn-danger btn-sm">Eliminar</a></td>
                  </tr>
                  
                
                </tbody>
              </table>

            
          </div>

          <!-- Fin row-->
         
          

